# GOOGLE ENVIRONMENT VARIABLES

VITE_GOOGLE_PROJECT_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_AUTH_URI=
VITE_GOOGLE_REDIRECT_TOKEN_URI=
VITE_GOOGLE_REDIRECT_URI=
VITE_GOOGLE_JAVASCRIPT_ORIGIN=
VITE_GOOGLE_AUTH_PROVIDER_X509_CERT_URL=
VITE_GOOGLE_CLIENT_SECRET=
VITE_GOOGLE_OAUTH_SCOPES=